* {
  margin: 0;
  padding: 0;
}

.scene-loader {
  &__spin {
    display: inline-block;
    width: 20px;
    margin-right: 3px;
    vertical-align: top;
    animation: spinner .5s infinite linear;
  }
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.scene-edit {
  position: absolute;
  z-index: 2;
  right: 10%;
  top: 10%;
  background-color: rbga(0, 0, 0, .3);
}

.scene-toolbar {
  position: fixed;
  z-index: 2;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background: rgba(255, 255, 255, .5);
  text-align: center;
  li {
    display: inline-block;
  }
  .space-name {
    position: absolute;
    left: 3%;
    font-size: 28px;
    top: -40px;
    color: #fff;
    text-shadow: 3px 3px 10px rgba(#333, .5);
  }
  .toolbar-arrow {}
}

.scene-spaces {
  margin-bottom: 10px;
  padding: 0 50px;
  white-space: nowrap;
  li {
    display: inline-block;
    width: 100px;
    height: 60px;
    overflow: hidden;
    margin: 0 10px;
    cursor: pointer;
    transition: all .2s linear;
    border: 2px solid #fff;
    position: relative;
    &:hover {
      box-shadow: 0 15px 30px rgba(0, 0, 0, .1);
      transform: translate3d(0, -4px, 0);
    }
    &[active] {
      border-color: #008489;
    }
  }
  img {
    width: 100%;
    display: initial;
  }
  p {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    line-height: 30px;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    background-image: linear-gradient(to right, transparent 0%, rgba(0, 0, 0, 0.5) 50%, transparent 100%);
  }
}

.scene-control {
  display: none;
  .iconfont {
    font-size: 28px;
    margin: 0 3px;
    cursor: pointer;
    color: #333;
    &:hover {
      text-shadow: 1px 1px 5px rgba(#333, .5);
      color: #000;
    }
  }
}
